[Unit]
Description=tactics-app
After=network.target

[Service]
ExecStart=/var/www/wottactics/app.js
Restart=always
User=tactics
Group=tactics
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/wottactics/

[Install]
WantedBy=multi-user.target
